/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.container {
  width: 880px;
  margin: 0 auto;
  background-color: #c4d7fa;
}
header {
  width: 69%;
  margin: 0 auto;
}
header nav {
  display: flex;
  justify-content: center;
  background-color: rgba(100, 148, 237, 0.76);
  border: 2px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
header nav a {
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 1.5%;
  text-decoration: none;
  padding: 7px 0px 17px 0px;
  font-family: 'Lobster', cursive;
  font-size: 23px;
  color: #1648a5;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
a:hover {
  background-color: #738ec2;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  opacity: 5;
}
.top-content {
  background-color: cornflowerblue;
  margin-top: 20px;
}
.top-content .top-section {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 20px;
  border: 2px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
h1,
h2 {
  font-family: 'Lobster', cursive;
  font-size: 28px;
  margin: 0 auto;
  padding-bottom: 10px;
}
p {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}
img {
  height: 389px;
  width: 44%;
  padding: 0px;
  margin: 0 auto;
  border: 2px solid black;
  margin-bottom: 10px;
  margin-top: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.text-container {
  margin: 0 auto;
  width: 42%;
  padding-bottom: 18px;
}
button {
  background-color: cornflowerblue;
  border: 2px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 0 auto;
  margin-right: 337px;
}
.main-content {
  margin-top: 20px;
  background-color: cornflowerblue;
  padding-top: 20px;
  border: 2px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.main-content .main-section {
  display: flex;
  padding-top: 20px;
}
.main-content .main-section .one {
  height: 300px;
  width: 50%;
  padding-left: 130px;
}
ul {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #3a5485;
}
ul li {
  margin: 15px;
  background: #abc2ec;
  font-family: 'Roboto', sans-serif;
  padding-left: 30px;
  padding-right: 20px;
}
.bottom-content {
  background-color: cornflowerblue;
  border: 2px solid black;
  padding: 30px 0px 23px 0px;
  margin-top: 20px;
}
.bottom-content .bottom-section {
  display: flex;
  flex-direction: column;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table th,
table td {
  text-align: left;
  padding: 8px;
}
tr:nth-child(odd) {
  background-color: #3158a0;
}
tr:nth-child(odd) th {
  background-color: #4e4caf;
  color: black;
  font-family: 'Lobster', cursive;
  font-size: 23px;
}
tr:nth-child(odd) th td {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
/* CONTACT */
/* Style inputs, select elements and textareas */
.contact-container {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  background-color: cornflowerblue;
  border: 2px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.contact-container .contact-me {
  margin: 0 auto;
  padding-bottom: 16px;
  padding-left: 152px;
}
input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
/* Style the label to display next to the inputs */
label {
  padding: 18px 15px 20px 48px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
}
/* Style the submit button */
input[type=submit] {
  background-color: #393648;
  color: white;
  padding: 2px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 153px;
  margin-top: 37px;
}
/* Style the container */
/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 18%;
}
/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
